<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="userform" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="text">Information</label>
        <input class="form-control" type="text" id="info" formControlName="info">
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
<p *ngIf="submitting">Submitting</p>

<div class="row">
  <div class="col-xs-12">
    <table class="table-primary">
      <tr>
        <th>name</th>
        <th>Info</th>
      </tr>
      <tr *ngFor="let row of rows" >
        <td>{{row.name}}</td>
        <td>{{row.info}}</td>
      </tr>
    </table>
  </div>
</div>


<router-outlet></router-outlet>
